@font-face {
    font-family: 'ecoico';
    src: url('../font/timelineicons/ecoico.eot');
    src: url('../font/timelineicons/ecoico.eot?#iefix') format('embedded-opentype'),
    url('../font/timelineicons/ecoico.woff') format('woff'),
    url('../font/timelineicons/ecoico.ttf') format('truetype'),
    url('../font/timelineicons/ecoico.svg#ecoico') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Made with http://icomoon.io/ */

.main {
    width: 77%;
    max-width: 85em;
    margin: 0 auto;
    padding: 0 1.875em 3.125em;
}

.cbp_tmtimeline {
    margin: 0px 0 0 0;
    padding: 0;
    list-style: none;
    position: relative;
}

/* The line */
.cbp_tmtimeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background: #1ABC9C;
    right: 165px;
    margin-left: -10px;
}

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
    display: block;
    width: 25%;
    right: 1%;
    position: absolute;
}

.cbp_tmtimeline > li .cbp_tmtime span {
    display: block;
    text-align: right;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 2.4em;
    color: #16A085;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
    color: #1ABC9C;
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 15px 25%;
    background: #16A085;
    color: #fff;
    padding: 2em;
    position: relative;
    border-radius: 5px;
    right: 25%;
}

.cbp_tmlabel p {
    font-size: 1.0em;
    font-weight: 400;
    line-height: 1.6em;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
    background: #1ABC9C;
}

.cbp_tmtimeline > li .cbp_tmlabel h2 {
    margin-top: 0px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #16A085;
    border-width: 10px;
    top: 10px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: #1ABC9C;
}

/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
    width: 40px;
    height: 40px;
    font-family: 'ecoico';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 1.4em;
    line-height: 40px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #fff;
    background: #16A085;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #2ECC71;
    text-align: center;
    right: 150px;
    margin-left: -25px;
}

.cbp_tmicon-phone:before {
    content: "\e000";
}

.cbp_tmicon-screen:before {
    content: "\e001";
}

.cbp_tmicon-mail:before {
    content: "\e002";
}

.cbp_tmicon-earth:before {
    content: "\e003";
}

/* Media Queries */
@media screen and (max-width: 74.94em) {
    .cbp_tmtimeline > li .cbp_tmlabel:after {
        left: 98.6%;
    }
}

@media screen and (max-width: 65.375em) {
    .cbp_tmtimeline > li .cbp_tmtime span:last-child {
        font-size: 1.5em;
    }

    .cbp_tmtimeline > li .cbp_tmlabel:after {
        left: 98%;
    }

    .cbp_tmtimeline > li .cbp_tmlabel {
        margin-left: 40%;
        font-size: 90%;
    }
}

@media screen and (max-width: 61.2em){
    .cbp_tmtimeline > li .cbp_tmicon{
        right: 15%;
    }
    .cbp_tmtimeline:before{
        right: 17.4%;
    }
}
@media screen and (max-width: 43em){
    .cbp_tmtimeline > li .cbp_tmlabel:after {
        display: none;
    }
}
@media screen and (max-width: 40em) {
    .cbp_tmtimeline:before,
    .cbp_tmtimeline > li .cbp_tmicon {
        left: 30%;
    }

    .cbp_tmtimeline > li .cbp_tmlabel {
        margin-left: 40%;
        font-size: 90%;
    }
}

@media screen and (max-width: 26em) {
    .cbp_tmtimeline:before,
    .cbp_tmtimeline > li .cbp_tmicon {
        left: 35%;
    }

    .cbp_tmtimeline > li .cbp_tmlabel {
        margin-left: 45%;
    }
}
#list-head{
    color: #0044cc;
}
